@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 30%;
  height: 250px;
  margin: calc(10% / 7);
}

nav {
  font-family: "Allura";
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 7);
  padding: 0.8em 0;
}
